#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(
    to left,
    rgb(78, 30, 211) 0%,
    rgb(59, 196, 201) 100%
  );
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
